/vpn-edge-agent/.env
/vpn-edge-agent/__pycache__/
/vpn-edge-agent/venv/
/vpn-edge-agent/env/

/vpn-hub/__pycache__/
/vpn-hub/venv/
/vpn-hub/env/
/vpn-hub/.env
/vpn-hub/vpn_hub.db

/vpn-hub/*.key
/vpn-edge-agent/*.key
/vpn-edge-agent/keys/